
<div>
  <input type="text" [(ngModel)]="searchQuery" placeholder="Buscar películas" />
  <button (click)="searchMovies()">Buscar</button>
</div>

<button (click)="navigateToFavorites()">Ir a Favoritos</button>

<div *ngIf="movies.length > 0">
  <h2>{{ totalResults }} resultados encontrados:</h2>
  <div *ngFor="let movie of movies">
    <div>
      <img [src]="movie.Poster" alt="img movie" />
      <button (click)="addToFavorites(movie)">Agregar a favoritos</button>
      <h3>{{ movie.Title }}</h3>
      <p>Año: {{ movie.Year }}</p>
      <p>Tipo: {{ movie.Type }}</p>
    </div>
  </div>
  <div>
    <button (click)="prevPage()">Página Anterior</button>
    <span>Página {{ currentPage }}</span>
    <button (click)="nextPage()">Siguiente Página</button>
  </div>
</div>

<div *ngIf="searchPerformed && movies.length === 0">
  <p>No se encontraron resultados.</p>
</div>
