<button class="back-button" (click)="navigateToMovies()">Atras</button>
<div class="favorite-title">
  <h1 class="favorite-title__text">Mis Favoritos</h1>
</div>
<div class="filter-container">
  <h4 class="filter-container__title">Filtrar por:</h4>
  <div class="filter-section">
    <label class="filter-section__label">Año:</label>
    <input
      type="text"
      [(ngModel)]="selectedFilter"
      class="filter-section__input"
      placeholder="Escribe el año"
    />
  </div>
  <div class="filter-section">
    <label class="filter-section__label">Tipo:</label>
    <select [(ngModel)]="selectedType" class="filter-section__select">
      <option value="">Todos</option>
      <option value="movie">Película</option>
      <option value="series">Serie</option>
    </select>
  </div>
  <button
    mat-raised-button
    color="primary"
    (click)="refreshMovies()"
    class="filter-container__button"
  >
    Aplicar Filtros
  </button>
</div>
<div class="movie-card-container">
  <app-favorite-card
    *ngFor="let movie of favoriteMovies"
    [movieData]="movie"
    (addCommentEvent)="handleCommentEvent(movie.imdbID, $event)"
    (removeCommentEvent)="removeComment(movie.imdbID, $event)"
  ></app-favorite-card>
</div>
