
<button (click)="backToSearch()">Volver al Buscador</button>
  <div>
    <label>Filtrar por:</label>
    <select [(ngModel)]="selectedFilter">
      <option value="all">Todas</option>
      <option value="2020">2020 en adelante</option>
    </select>
  
    <button (click)="refreshMovies()">Actualizar</button>
  </div>
  
  <div *ngFor="let movie of favoriteMovies">
    <div>
      <img [src]="movie.Poster" alt="{{ movie.Title }}" />
      <button (click)="removeFromFavorites(movie.imdbID)">Quitar de favoritos</button>
      <h3>{{ movie.Title }}</h3>
      <p>Año: {{ movie.Year }}</p>
      <p>Tipo: {{ movie.Type }}</p>
      <p>IMDb ID: {{ movie.imdbID }}</p>
      <button (click)="removeFromFavorites(movie.imdbID)">Quitar de favoritos</button>
    </div>
  </div>